@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  .logo {
    justify-content: flex-start;
    margin: 142px 0;
    height: 50px;
  }

  nav ul {
  }

  .search {
  }

  .search input {
    margin: 68px 16px;
  }

  nav ul {
    height: 34px;
  }
  .card-item img {
    width: 67px;
  }
}
